@import url("./main.css");

// MARKET-MAIN
.market-main{
  position: relative;
  margin-top: 110px;
  .market-top{
    width: 100%;
    height: 840px;
    padding-top: 20px;
    position: relative;
    .chart{
      position: absolute;
      width: 960px;
      height: 800px;
      @include border;
    }
    .search{
      position: absolute;
      width: 400px;
      height: 800px;
      right: 0;
      @include border;
    }
  }
  .market-bottom{
    width: 100%;
    height: 450px;
    position: relative;
    .askingprice{
      position: absolute;
      left: 0;
      width: 680px;
      height: 400px;
      @include border;
    }
    .order{
      position: absolute;
      width: 680px;
      height: 400px;
      right: 0;
      @include border;
    }
  }
}